<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<fieldset>
  <%= devise_error_messages! %>
  <div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "text" %>
  </div>

  <div class="field">
  <%= f.label :email %>
  <%= f.email_field :email, :class => "text" %>
  </div>

  <div class="field">
  <%= f.label :password %><span class='info'><i>(leave blank if you don't want to change it)</i></span>
  <%= f.password_field :password, :autocomplete => "off", :class => "text" %>
  </div>

  <div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "text" %>
  </div>

  <div class="field">
  <%= f.label :current_password %><span class="info"><i>(current password to confirm your changes)</i></span>
  <%= f.password_field :current_password, :class => "text" %>
  </div>

  <div class="field">
  <%= f.submit "Update", :class => "submit" %>
  </div>
<% end %>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>&nbsp;
<%= link_to "Back", :back %></p>