<%= link_to "Home", root_path, :class => 'likebuton' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path, :class=>'likebuton' %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path, :class=>'likebuton' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path, :class=>'likebuton' %>
    </li><li>
    <%= link_to 'Forgot your password?', 'password/new', :class=>'likebuton' %>    
    </li>
  <% end %>
</ul>
