<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= content_for?(:title) ? yield(:title) : "Template login" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %><br />
        <%= render 'layouts/messages' %>
      </header>
      <div id="main" role="main">
      	<div class="container">
      	<div class="content">
      		<div class="dialog" id="login">
        <%= yield %>
        	</div>
      	</div>
      	</div>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
  </body>
</html>